@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;500;600&display=swap');

*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header .header {
    flex-grow: 1;
    background-color: #003847;
}
header nav {
	font-family: 'Georama', sans-serif;
	margin-top: 2%;
}
header nav ul {
	clear: left;
	float: left;
	margin: 0 auto;
	padding: 0;
	position: relative;
	left: 50%;
	list-style: none;
}
header nav ul li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	right: 50%;
}
header nav ul li a {
	display: block;
	margin: 0 0 0 1px;
	padding: 5px 15px;
	color: #9d8a5e;
	text-decoration: none;
}
header nav ul li a:hover {
	color: #369432;
	text-decoration: underline;
	text-underline-offset: 7px;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}
header nav ul li a.active,
header nav ul li a.active:hover {
	color: #369432;
}
header .header h1 {
    font-family: 'Georama', sans-serif;
    font-size: 400%;
    color: #9d8a5e;
	margin-top: 7%;
    text-align: center;
}
header .header h2 {
    font-family: 'Georama', sans-serif;
    color: #9d8a5e;
	margin-top: -25px;
    text-align: center;
}
header .header img {
	display: block;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7%;
}

main #topBtn {
	display: none;
	right: 5%;
	position: fixed;
	top: 550px;
	z-index: 99;
	
}

.row {
	font-family: 'Georama', sans-serif;
    margin: 15px;
}
.row h1 {
	margin-bottom: 50px;
	text-align: center;
	text-decoration: underline;
	text-underline-offset: 15px;
}
.row, .row > .column {
    padding: 8px;
}
.column {
    float: left;
    width: 33.33%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
main {
    margin: auto;
}
#projects img {
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
#projects h3, p {
    font-family: 'Georama', sans-serif; 
    text-align: center;
}

#about p {
	margin-left: 30%;
	margin-right: 30%;
}

#contact {
	padding-bottom: 3%;
}
#contact-wrapper {
	display: flex;
	justify-content: center;
	margin-left: 40%;
}
#contact-list i {
	display: inline-block;
	width: 100%;
    text-align: justify;
	padding-bottom: 2%;
}
#contact-list a {
	font-family: 'Georama', sans-serif;
	font-weight: 300;
	color: #003847;
	padding-left: 7%;
	text-decoration: none;
}
#contact-list a:hover {
	color: #9d8a5e;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
}

footer p {
	font-family: 'Georama', sans-serif;
	font-size: .75em;
	font-weight: 300;
	text-align: center;
}

/* Responsive Design */
@media (max-width: 480px) {
	header {
		height: 525px;
	}
	header .header h1 {	
		font-size: 275%;
		margin-top: 15%;
	}
	.column {
		display: flex;
		float: none;
		width: 50%;
		justify-content: center;
	}
	.content {
		margin-left: 110%;
	}
	.content p {
		margin-left: -15%;
		margin-right: -15%;
	}
	#about p {
		margin-left: 5%;
		margin-right: 5%;
	}
	#contact-wrapper {
		margin-left: auto;
		margin-right: auto;
	}
	#contact-list {
		display: none;
	}
	#contact-list-responsive a {
		color: #003847;
		padding: 10px;
	}
	#contact-list-responsive a:hover {
		color: #9d8a5e;
		transition: all .2s ease;
		-webkit-transition: all .2s ease;
	}
	/* Menu */
	#primary-menu {
		display: none;
	}
	.nav-btn {
		font-size: 1.5em;
		padding-right: 7%;
		float: right;
	}
	/* The Overlay (background) */
	nav .overlay {
		height: 0%;
		width: 100%;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.9);
		overflow-x: hidden;
		transition: 0.5s;
	}
	nav .overlay-content {
		position: relative;
		top: 25%;
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}
	nav .overlay a {
		padding: 8px;
		text-decoration: none;
		font-size: 36px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}
	nav .overlay a:hover, nav .overlay a:focus {
		color: #f1f1f1;
	}
	nav .overlay .closebtn {
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
	}
	nav .overlay a { font-size: 20px }
	nav .overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	header {
		height: 575px;
	}
	header .header h1 {	
		font-size: 300%;
		color: #9d8a5e;
		margin-top: 10%;
	}
	.column {
		display: flex;
		float: none;
		width: 50%;
		justify-content: center;
	}
	.content {
		margin-left: 110%;
	}
	.content p {
		margin-left: -30%;
		margin-right: -30%;
	}
	#about p {
		margin-left: 20%;
		margin-right: 20%;
	}
	#contact-wrapper {
		margin-left: auto;
		margin-right: auto;
	}
	#contact-list {
		display: none;
	}
	#contact-list-responsive a {
		color: #003847;
		padding: 10px;
	}
	#contact-list-responsive a:hover {
		color: #9d8a5e;
		transition: all .2s ease;
		-webkit-transition: all .2s ease;
	}
	/* Menu */
	#primary-menu {
		display: none;
	}
	.nav-btn {
		font-size: 1.5em;
		padding-right: 7%;
		float: right;
	}
	/* The Overlay (background) */
	nav .overlay {
		height: 0%;
		width: 100%;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.9);
		overflow-x: hidden;
		transition: 0.5s;
	}
	nav .overlay-content {
		position: relative;
		top: 25%;
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}
	nav .overlay a {
		padding: 8px;
		text-decoration: none;
		font-size: 36px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}
	nav .overlay a:hover, nav .overlay a:focus {
		color: #f1f1f1;
	}
	nav .overlay .closebtn {
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
	}
	nav .overlay a { font-size: 20px }
	nav .overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	header {
		height: 650px;
	}
	.column {
		display: flex;
		float: none;
		width: 50%;
		justify-content: center;
	}
	.content {
		margin-left: 110%;
	}
	.content p {
		margin-left: -40%;
		margin-right: -40%;
	}
	#about p {
		margin-left: 20%;
		margin-right: 20%;
	}
	#contact-wrapper {
		margin-left: auto;
		margin-right: auto;
	}
	#contact-list {
		display: none;
	}
	#contact-list-responsive a {
		color: #003847;
		padding: 10px;
	}
	#contact-list-responsive a:hover {
		color: #9d8a5e;
		transition: all .2s ease;
		-webkit-transition: all .2s ease;
	}
	/* Menu */
	#primary-menu {
		display: none;
	}
	.nav-btn {
		font-size: 1.5em;
		padding-right: 7%;
		float: right;
	}
	/* The Overlay (background) */
	nav .overlay {
		height: 0%;
		width: 100%;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.9);
		overflow-x: hidden;
		transition: 0.5s;
	}
	nav .overlay-content {
		position: relative;
		top: 25%;
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}
	nav .overlay a {
		padding: 8px;
		text-decoration: none;
		font-size: 36px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}
	nav .overlay a:hover, nav .overlay a:focus {
		color: #f1f1f1;
	}
	nav .overlay .closebtn {
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
	}
	nav .overlay a { font-size: 20px }
	nav .overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}
@media (min-width: 1025px) and (max-width: 1280px) {
	nav .closebtn, nav span, nav .overlay-content {
		display: none;
	}
	#contact-list-responsive {
		display: none;
	}
}
@media (min-width: 1281px) {
	nav .closebtn, nav span, nav .overlay-content {
		display: none;
	}
	#contact-wrapper {
		margin-left: 32%;
	}
	#contact-list-responsive {
		display: none;
	}
}







  