@use '../util' as u;

.hero {
    display: grid;
    gap: 30px;
    align-items: center;

    @include u.breakpoint(medium) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include u.breakpoint(large) {
        grid-template-columns: 3fr 2fr;
    }

    &__wrapper {
        padding-block-start: 20px;

        @include u.breakpoint(large) {
            padding-block-start: 40px;
        }
    }

    &__text {
        p {
            @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(16), u.rem(20));
        }

        p:last-child {
            margin-block-end: 0;
        }
    }

    &__image {
        max-width: u.rem(349);
        align-self: center;
        justify-self: center;

        img {
            border-radius: 230px;
            width: 100%;
        }
    }
}