@use '../util' as u;

.projects {
    justify-items: center;


    &__item {
        display: grid;
        gap: 16px;

        @include u.breakpoint(medium) {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
            align-items: center;
        }
    }

    &__image {
        border-radius: 12px;
        width: 100%;
    }

    &__text {
        p {
            @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(16), u.rem(18));
        }
    }

    &__buttons {
        display: flex;
        gap: 20px;
    }
}