:root {
    --color-bg: hsl(0, 0%, 100%);
    --color-text: hsl(0, 0%, 0%);
    --color-accent: hsl(220, 16%, 93%);
    // --color-accent2: hsl(245, 45%, 30%);
    // --color-accent2-hover: hsl(245, 45%, 45%);
}