:root {
<<<<<<< HEAD
    --color-bg: hsl(0, 0%, 100%);
    --color-text: hsl(0, 0%, 0%);
    --color-accent: hsl(220, 16%, 93%);
=======
    --color-bg: hsl(244, 51%, 11%);
    --color-text: hsl(0, 0%, 94%);
    --color-accent: hsl(51, 100%, 50%);
>>>>>>> b09198a23f33a967c1a2b5eb6f81753084ee27db
    // --color-accent2: hsl(245, 45%, 30%);
    // --color-accent2-hover: hsl(245, 45%, 45%);
}