@use '../util/' as u;

h1,
h2,
h3 {
    margin: 0;
    line-height: 1;
}

h1 {
    @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(48), u.rem(64));
}

h2 {
    @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(36), u.rem(48));
}

h3 {
    @include u.fs-fluid(u.rem(375), u.rem(1200), u.rem(24), u.rem(36));
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

p {
    line-height: 1.5;
    max-width: 60ch;
}